**.idea
.vs
.vscode
Binaries
Binaries-Intermediate
*.sln
*.csproj
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.dll
*.pdb
*.DotSettings.user

**/bin
**/obj

Examples/*/Binaries
Examples/*/Intermediate
Examples/*/astromake